#nav-bar{
    position: sticky;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    padding-left: 2em;
    padding-right: 2em;
    color: #e8fdff;
}


#nav-bar .logo{
  height: 80px;
  width: 80px;
  float: left;
}


#nav-bar .header{
  font-size: 2rem;
  margin-left: 10px;
  float: left;
  line-height: 250%;
}