.new-tweet {
  background-color: #eee;
  margin: 0.5em;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
 }


input {
  margin: 3%;
}

textarea {
  margin: 5px 10px;
  width: 95%;
  display: block;
}

h2 {
  margin: 0.5em;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: darkslategray;
}

.counter {
  float: right;
  padding-top: 15px;
  padding-right: 10px;
}


#err-noTweet {
  background: lightpink;
  font-size: smaller;
  margin: 10px;
  padding: 6px;
}


#err-longTweet {
  background: lightpink;
  font-size: smaller;
  margin: 10px;
  padding: 6px;
}